In [1]:
import pandas as pd 
import numpy as np   
from scipy.stats import mode

Load the KS4 final data for Bristol from CSV  (bristol 21-22)

In [14]:
bristolKs4_21_22 = pd.read_csv("/Users/anukul/Desktop/Anukul/Learning/DataScience/Obtaining/bristol_school_2021-2022/801_ks4final.csv")

Add the year column with value 2022, select relevant columns, and clean the data

In [15]:
bristolKs4_21_22 = (bristolKs4_21_22
    .assign(Year="2022")
    .loc[:, ['PCODE', 'Year', 'SCHNAME', 'ATT8SCR']]
    .dropna(subset=['SCHNAME', 'ATT8SCR'])
    .rename(columns={'PCODE': 'Postcode', 'SCHNAME': 'SchName'}))

Load the school information data for Bristol from CSV

In [16]:
bristolSchoolInfo_21_22 = pd.read_csv("/Users/anukul/Desktop/Anukul/Learning/DataScience/Obtaining/bristol_school_2021-2022/801_school_information.csv")

Consolidate school level columns into one and select relevant columns

In [17]:
bristolSchoolInfo_21_22 = (bristolSchoolInfo_21_22
    .assign(SchLevel=lambda df: pd.Series([
        'Primary' if row['ISPRIMARY'] == 1 else 'Secondary' if row['ISSECONDARY'] == 1 else 'Post-16'
        for _, row in df.iterrows()]))
    .loc[:, ['URN', 'SCHNAME', 'POSTCODE', 'TOWN', 'SCHOOLTYPE', 'SchLevel', 'OFSTEDRATING']]
    .rename(columns={'POSTCODE': 'Postcode', 'SCHNAME': 'SchName', 'TOWN': 'Town', 'SCHOOLTYPE': 'SchoolType'}))

Combine KS4 final data with school information data using inner join

In [18]:
bristolSchools_21_22 = (bristolKs4_21_22
    .merge(bristolSchoolInfo_21_22, on=['Postcode', 'SchName'], how='inner')
    .assign(Town=lambda df: df['Town'].fillna("Bristol"),
            County="City of Bristol")
    .query('Town == "Bristol"'))

BRISTOL SCHOOLS 2022-2023
Load the KS4 final data for Bristol from CSV

In [19]:
bristolKs4_22_23 = pd.read_csv("/Users/anukul/Desktop/Anukul/Learning/DataScience/Obtaining/bristol_school_2022-2023/801_ks4final.csv")

Add the year column with value 2023, select relevant columns, and clean the data

In [20]:
bristolKs4_22_23 = (bristolKs4_22_23
    .assign(Year="2023")
    .loc[:, ['PCODE', 'Year', 'SCHNAME', 'ATT8SCR']]
    .dropna(subset=['SCHNAME', 'ATT8SCR'])
    .rename(columns={'PCODE': 'Postcode', 'SCHNAME': 'SchName'}))

Load the school information data for Bristol from CSV

In [22]:
bristolSchoolInfo_22_23 = pd.read_csv("/Users/anukul/Desktop/Anukul/Learning/DataScience/Obtaining/bristol_school_2022-2023/801_school_information.csv")

Consolidate school level columns into one and select relevant columns

In [23]:
bristolSchoolInfo_22_23 = (bristolSchoolInfo_22_23
    .assign(SchLevel=lambda df: pd.Series([
        'Primary' if row['ISPRIMARY'] == 1 else 'Secondary' if row['ISSECONDARY'] == 1 else 'Post-16'
        for _, row in df.iterrows()]))
    .loc[:, ['URN', 'SCHNAME', 'POSTCODE', 'TOWN', 'SCHOOLTYPE', 'SchLevel', 'OFSTEDRATING']]
    .rename(columns={'POSTCODE': 'Postcode', 'SCHNAME': 'SchName', 'TOWN': 'Town', 'SCHOOLTYPE': 'SchoolType'}))

Combine KS4 final data with school information data using inner join

In [24]:
bristolSchools_22_23 = (bristolKs4_22_23
    .merge(bristolSchoolInfo_22_23, on=['Postcode', 'SchName'], how='inner')
    .assign(Town=lambda df: df['Town'].fillna("Bristol"),
            County="City of Bristol")
    .query('Town == "Bristol"'))

CORNWALL SCHOOLS 2021-2022
Load the KS4 final data for Cornwall from CSV

In [38]:
cornwallKs4_21_22 = pd.read_csv("/Users/anukul/Desktop/Anukul/Learning/DataScience/Obtaining/cornwall_school_2021-2022/908_ks4final.csv")

Add the year column with value 2022, select relevant columns, and clean the data

In [39]:
cornwallKs4_21_22 = (cornwallKs4_21_22
    .assign(Year="2022")
    .loc[:, ['PCODE', 'Year', 'SCHNAME', 'ATT8SCR']]
    .dropna(subset=['SCHNAME', 'ATT8SCR'])
    .rename(columns={'PCODE': 'Postcode', 'SCHNAME': 'SchName'}))

Load the school information data for Cornwall from CSV

In [41]:
cornwallSchoolInfo_21_22 = pd.read_csv("/Users/anukul/Desktop/Anukul/Learning/DataScience/Obtaining/cornwall_school_2021-2022/908_school_information.csv")

Consolidate school level columns into one and select relevant columns

In [42]:
cornwallSchoolInfo_21_22 = (cornwallSchoolInfo_21_22
    .assign(SchLevel=lambda df: pd.Series([
        'Primary' if row['ISPRIMARY'] == 1 else 'Secondary' if row['ISSECONDARY'] == 1 else 'Post-16'
        for _, row in df.iterrows()]))
    .loc[:, ['URN', 'SCHNAME', 'POSTCODE', 'TOWN', 'SCHOOLTYPE', 'SchLevel', 'OFSTEDRATING']]
    .rename(columns={'POSTCODE': 'Postcode', 'SCHNAME': 'SchName', 'TOWN': 'Town', 'SCHOOLTYPE': 'SchoolType'}))

Combine KS4 final data with school information data using inner join

In [43]:
cornwallSchools_21_22 = (cornwallKs4_21_22
    .merge(cornwallSchoolInfo_21_22, on=['Postcode', 'SchName'], how='inner')
    .assign(Town=lambda df: df['Town'].fillna("Cornwall"),
            County="Cornwall")
    .assign(Town=lambda df: df['Town'].replace({
        None: lambda x: 'Gunnislake' if x['SchName'] == 'The Lowen School' else 'Lanlivery' if x['SchName'] == 'Red Moor School' else x['Town']})))

CORNWALL SCHOOLS 2022-2023
Load the KS4 final data for Cornwall from CSV

In [44]:
cornwallKs4_22_23 = pd.read_csv("/Users/anukul/Desktop/Anukul/Learning/DataScience/Obtaining/cornwall_school_2022-2023/908_ks4final.csv")

Add the year column with value 2023, select relevant columns, and clean the data

In [45]:
cornwallKs4_22_23 = (cornwallKs4_22_23
    .assign(Year="2023")
    .loc[:, ['PCODE', 'Year', 'SCHNAME', 'ATT8SCR']]
    .dropna(subset=['SCHNAME', 'ATT8SCR'])
    .rename(columns={'PCODE': 'Postcode', 'SCHNAME': 'SchName'}))

Load the school information data for Cornwall from CSV

In [46]:
cornwallSchoolInfo_22_23 = pd.read_csv("/Users/anukul/Desktop/Anukul/Learning/DataScience/Obtaining/cornwall_school_2022-2023/908_school_information.csv")

Consolidate school level columns into one and select relevant columns

In [47]:
cornwallSchoolInfo_22_23 = (cornwallSchoolInfo_22_23
    .assign(SchLevel=lambda df: pd.Series([
        'Primary' if row['ISPRIMARY'] == 1 else 'Secondary' if row['ISSECONDARY'] == 1 else 'Post-16'
        for _, row in df.iterrows()]))
    .loc[:, ['URN', 'SCHNAME', 'POSTCODE', 'TOWN', 'SCHOOLTYPE', 'SchLevel', 'OFSTEDRATING']]
    .rename(columns={'POSTCODE': 'Postcode', 'SCHNAME': 'SchName', 'TOWN': 'Town', 'SCHOOLTYPE': 'SchoolType'}))

Combine KS4 final data with school information data using inner join

In [48]:
cornwallSchools_22_23 = (cornwallKs4_22_23
    .merge(cornwallSchoolInfo_22_23, on=['Postcode', 'SchName'], how='inner')
    .assign(Town=lambda df: df['Town'].fillna("Cornwall"),
            County="Cornwall")
    .assign(Town=lambda df: df['Town'].replace({
        None: lambda x: 'Gunnislake' if x['SchName'] == 'The Lowen School' else 'Lanlivery' if x['SchName'] == 'Red Moor School' else x['Town']})))

In [50]:
combinedBristol = pd.concat([bristolSchools_21_22, bristolSchools_22_23], ignore_index=True)
mode_ofstedrating = combinedBristol['OFSTEDRATING'].mode().iloc[0]
BristolSchoolsData = (combinedBristol
    .assign(County="City of Bristol")
    .assign(OFSTEDRATING=lambda df: df['OFSTEDRATING'].fillna(mode_ofstedrating))
)
combinedCornwall = pd.concat([cornwallSchools_21_22, cornwallSchools_22_23], ignore_index=True)
mode_ofstedrating_cornwall = combinedCornwall['OFSTEDRATING'].mode().iloc[0]
CornwallSchoolsData = (combinedCornwall
    .assign(County="Cornwall")
    .assign(OFSTEDRATING=lambda df: df['OFSTEDRATING'].fillna(mode_ofstedrating_cornwall))
)
BristolSchoolsData.to_csv("/Users/anukul/Desktop/Anukul/Learning/DataScience/Cleaning/cleaned-data/bristol_schools_cleaned.csv", index=False)
CornwallSchoolsData.to_csv("/Users/anukul/Desktop/Anukul/Learning/DataScience/Cleaning/cleaned-data/cornwall_schools_cleaned.csv", index=False)