In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression

In [21]:
bristol_crime = pd.read_csv("/Users/anukul/Desktop/Anukul/Learning/DataScience/Cleaning/cleaned-data/bristol-crime-cleaned.csv")
cornwall_crime = pd.read_csv("/Users/anukul/Desktop/Anukul/Learning/DataScience/Cleaning/cleaned-data/cornwall-crime-cleaned.csv")
popn_2011 = pd.read_csv("/Users/anukul/Desktop/Anukul/Learning/DataScience/Obtaining/population-2011.csv")

In [22]:
popn_2011['Population'] = popn_2011['Population'].str.replace(',', '').astype(float)

In [23]:
popn_2023 = popn_2011.copy()
popn_2023['Population'] = popn_2011['Population'] * 1.00561255390388033

In [24]:
popn_2023

     Postcode    Population
0      AL1  1   5483.605256
1      AL1  2   6559.610689
2      AL1  3   4202.454863
3      AL1  4   9853.997416
4      AL1  5  10283.393976
...       ...           ...
8030   SA73 3   5275.443458
8031   SA8  3   4795.766270
8032   SA8  4   7830.704957
8033   SA9  1   7942.327951
8034   SA9  2   7321.865005

[8035 rows x 2 columns]

In [25]:
yrs_conversion = 2023 - 2011
ann_gr_rate = 1.00561255390388033 ** (1 / yrs_conversion)
popn_2022 = popn_2023.copy()
popn_2022['Population'] = popn_2023['Population'] / ann_gr_rate

In [26]:
popn_2022

     Postcode    Population
0      AL1  1   5481.048271
1      AL1  2   6556.551966
2      AL1  3   4200.495273
3      AL1  4   9849.402532
4      AL1  5  10278.598866
...       ...           ...
8030   SA73 3   5272.983537
8031   SA8  3   4793.530021
8032   SA8  4   7827.053527
8033   SA9  1   7938.624472
8034   SA9  2   7318.450845

[8035 rows x 2 columns]

In [27]:
popn_2023['Postcode'] = popn_2023['Postcode'].str.extract(r"^(\S+)")
popn_2022['Postcode'] = popn_2022['Postcode'].str.extract(r"^(\S+)")

In [28]:
bristol_crime['Postcode'] = bristol_crime['postcode'].str.extract(r"^(\S+)")
bristol_crime['Year'] = pd.to_datetime(bristol_crime['Year'],format='%Y-%m',errors='coerce')

In [29]:
cornwall_crime['Postcode'] = cornwall_crime['postcode'].str.extract(r"^(\S+)")
cornwall_crime['Year'] = pd.to_datetime(cornwall_crime['Year'], format='%Y-%m',errors='coerce')

In [30]:
combined_crime = pd.concat([bristol_crime, cornwall_crime], ignore_index=True)

In [39]:
combined_crime['Postcode']

0          NW7
1         BS14
2         BS14
3         BS14
4         BS14
          ...
689004     EX1
689005     EX1
689006     EX1
689007     EX1
689008     EX1
Name: Postcode, Length: 689009, dtype: object

In [33]:
town_dataset = pd.read_csv("/Users/anukul/Desktop/Anukul/Learning/DataScience/Cleaning/cleaned-data/town_dataset.csv")

In [34]:
town_dataset.columns

Index(['short_postal_code', 'town/city', 'county'], dtype='object')

In [35]:
town_dataset = town_dataset.rename(columns={
    'short_postal_code': 'Short_Postcode',
    'town/city': 'Town_City',
    'county': 'County'
})

In [36]:
town_postcodes = town_dataset[['Short_Postcode', 'Town_City']]

In [38]:
town_postcodes['Short_Postcode']

0        TR27
1        TR27
2        TR27
3        PL14
4        PL30
         ...
75179    BS15
75180    BS15
75181    BS16
75182    BS14
75183    BS16
Name: Short_Postcode, Length: 75184, dtype: object

In [20]:
combined_crime['Postcode'].dtype()

TypeError: 'numpy.dtypes.ObjectDType' object is not callable

In [40]:
combined_crime['Postcode'] = combined_crime['Postcode'].str.strip()
town_postcodes['Short_Postcode'] = town_postcodes['Short_Postcode'].str.strip()

/var/folders/jx/pym939rn0_zgvv112pfcjs8r0000gn/T/ipykernel_27239/420176663.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  town_postcodes['Short_Postcode'] = town_postcodes['Short_Postcode'].str.strip()

In [21]:
combined_crime_with_town = combined_crime.merge(town_postcodes, left_on='Postcode', right_on='Short_Postcode', how='left')

In [41]:
combined_crime.set_index('Postcode', inplace=True)
town_postcodes.set_index('Short_Postcode', inplace=True)
combined_crime_with_town = combined_crime.join(town_postcodes, how='left')

: