In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression

In [23]:
bristol_crime = pd.read_csv("/Users/anukul/Desktop/Anukul/Learning/DataScience/Cleaning/cleaned-data/bristol-crime-cleaned.csv")
cornwall_crime = pd.read_csv("/Users/anukul/Desktop/Anukul/Learning/DataScience/Cleaning/cleaned-data/cornwall-crime-cleaned.csv")
popn_2011 = pd.read_csv("/Users/anukul/Desktop/Anukul/Learning/DataScience/Obtaining/population-2011.csv")

In [24]:
popn_2011['Population'] = popn_2011['Population'].str.replace(',', '').astype(float)

In [25]:
popn_2023 = popn_2011.copy()
popn_2023['Population'] = popn_2011['Population'] * 1.00561255390388033

In [26]:
popn_2023

     Postcode    Population
0      AL1  1   5483.605256
1      AL1  2   6559.610689
2      AL1  3   4202.454863
3      AL1  4   9853.997416
4      AL1  5  10283.393976
...       ...           ...
8030   SA73 3   5275.443458
8031   SA8  3   4795.766270
8032   SA8  4   7830.704957
8033   SA9  1   7942.327951
8034   SA9  2   7321.865005

[8035 rows x 2 columns]

In [27]:
yrs_conversion = 2023 - 2011
ann_gr_rate = 1.00561255390388033 ** (1 / yrs_conversion)
popn_2022 = popn_2023.copy()
popn_2022['Population'] = popn_2023['Population'] / ann_gr_rate

In [28]:
popn_2022

     Postcode    Population
0      AL1  1   5481.048271
1      AL1  2   6556.551966
2      AL1  3   4200.495273
3      AL1  4   9849.402532
4      AL1  5  10278.598866
...       ...           ...
8030   SA73 3   5272.983537
8031   SA8  3   4793.530021
8032   SA8  4   7827.053527
8033   SA9  1   7938.624472
8034   SA9  2   7318.450845

[8035 rows x 2 columns]

In [29]:
popn_2023['Postcode'] = popn_2023['Postcode'].str.extract(r"^(\S+)")
popn_2022['Postcode'] = popn_2022['Postcode'].str.extract(r"^(\S+)")

In [30]:
bristol_crime['Postcode'] = bristol_crime['postcode'].str.extract(r"^(\S+)")
bristol_crime['Year'] = pd.to_datetime(bristol_crime['Year'],format='%Y-%m',errors='coerce')

In [11]:
cornwall_crime['Postcode'] = cornwall_crime['postcode'].str.extract(r"^(\S+)")
cornwall_crime['Year'] = pd.to_datetime(cornwall_crime['Year'], format='%Y-%m',errors='coerce')

In [12]:
combined_crime = pd.concat([bristol_crime, cornwall_crime], ignore_index=True)

In [13]:
town_dataset = pd.read_csv("/Users/anukul/Desktop/Anukul/Learning/DataScience/Cleaning/cleaned-data/town_dataset.csv")

In [14]:
town_dataset.columns

Index(['short_postal_code', 'town/city', 'county'], dtype='object')

In [16]:
town_dataset = town_dataset.rename(columns={
    'short_postal_code': 'Short_Postcode',
    'town/city': 'Town_City',
    'county': 'County'
})

In [17]:
town_postcodes = town_dataset[['Short_Postcode', 'Town_City']]

In [18]:
combined_crime.rename(columns={
    'postcode':'postalcode'
})

,Crime_ID,Year,LSOA_code,LSOA_name,Crime_type,postalcode,city,Postcode
0,1328aef302779224bb986c69c9af4b28714c0cbe35dbf2...,2021-07-01,E01000264,Barnet 016D,Other crime,NW7 2JU,Barnet,NW7
1,11faf5b4aa6fff14ab8560dfd103e09ce708eea1e328f4...,2021-07-01,E01014399,Bath and North East Somerset 001A,Burglary,BS14 8NE,Bath and North East Somerset,BS14
2,8fbcb485436844a7f7f20451c89c0044925b1ea350e1a6...,2021-07-01,E01014399,Bath and North East Somerset 001A,Criminal damage and arson,BS14 8NE,Bath and North East Somerset,BS14
3,6dd933c0f00e12983024ae5b5f1762c52df593012bce07...,2021-07-01,E01014399,Bath and North East Somerset 001A,Drugs,BS14 8NE,Bath and North East Somerset,BS14
4,6f835799815fdbf081080487da8431fff2458b1819bfc8...,2021-07-01,E01014399,Bath and North East Somerset 001A,Public order,BS14 8NE,Bath and North East Somerset,BS14
...,...,...,...,...,...,...,...,...
689004,469a1f2d895fb07f5b8b7609c580578763cd1b32177455...,2024-06-01,E01020018,Exeter 008E,Other crime,EX1 1HW,Exeter,EX1
689005,ab5a88862c531df1c2d996b8a8f3313d7d7d8320281684...,2024-06-01,E01020018,Exeter 008E,Other crime,EX1 1HW,Exeter,EX1
689006,faae0db4ac24b705a06db9c4d6650018c0907bb8b75934...,2024-06-01,E01020018,Exeter 008E,Other crime,EX1 1HW,Exeter,EX1
689007,0e46cd0f4f18ad0e899f4f5ea2aeabddcbc2176aa50ec2...,2024-06-01,E01020018,Exeter 008E,Other crime,EX1 1HW,Exeter,EX1
689008,5ee14333e5aeb36a0ced0a5def4b46787f9aae150c7570...,2024-06-01,E01020018,Exeter 008E,Other crime,EX1 1HW,Exeter,EX1

In [ ]:
combined_crime['Postcode'] = combined_crime['Postcode'].astype(str)
town_postcodes['Short_Postcode'] = town_postcodes['Short_Postcode'].astype(str)

In [21]:
combined_crime_with_town = combined_crime.merge(town_postcodes, left_on='Postcode', right_on='Short_Postcode', how='left')